<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- build:css0 css/style.css -->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:js0 js/lib.js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="lib/angular-translate/angular-translate.min.js"></script>
    <script src="lib/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="lib/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="lib/pouchdb/dist/pouchdb.js"></script>
    <script src="lib/angular-pouchdb/angular-pouchdb.min.js"></script>
    <script src="lib/angular-svg-round-progressbar/build/roundProgress.min.js"></script>
    <script src="lib/humanize-duration/humanize-duration.js"></script>
    <script src="lib/moment/min/moment.min.js"></script>
    <script src="lib/moment/min/locales.min.js"></script>
    <script src="lib/angular-timer/dist/angular-timer.min.js"></script>
    <!-- endbuild -->

    <script src="cordova.js"></script>

    <!-- build:js1 js/app.js -->
    <script src="app/app.js"></script>
    <script src="app/config.js"></script>

    <script src="app/services/index.js"></script>
    <script src="app/services/Repository.js"></script>
    <script src="app/services/DateTimeService.js"></script>
    <script src="app/services/DatabaseMigration.js"></script>
    <script src="app/services/LogDecorator.js"></script>
    <script src="app/services/ExerciseService.js"></script>
    <script src="app/services/ActivityService.js"></script>
    <script src="app/services/ActivityHistoryService.js"></script>
    <script src="app/services/ModalService.js"></script>

    <script src="app/directives/index.js"></script>
    <script src="app/directives/CloseButton.js"></script>
    <script src="app/directives/Tooltip.js"></script>
    <script src="app/directives/ExercisesMoreMenu.js"></script>
    <script src="app/directives/StaticTimer.js"></script>

    <script src="app/controllers/index.js"></script>
    <script src="app/controllers/HomeController.js"></script>
    <script src="app/controllers/ExerciseTabsController.js"></script>
    <script src="app/controllers/ExerciseListController.js"></script>
    <script src="app/controllers/HistoryController.js"></script>
    <script src="app/controllers/HistoryDetailsController.js"></script>
    <script src="app/controllers/ExercisesSummaryController.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="training-app">

    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right">
      <ion-view>
        <ion-content></ion-content>
      </ion-view>
    </ion-nav-view>

  </body>

  <script id="home-menu" type="text/ng-template">
    <ion-popover-view class="fit">
      <ion-content>
        <div class="list">
          <a class="item" href="" ng-click="newTraining()">{{"ACTIVITY_TRAINING_NEW" | translate}}</a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>

</html>
