<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="{{'APP_HOME' | translate}}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'APP_EXERCISES' | translate}}" icon-off="ion-ios-football-outline" icon-on="ion-ios-football" href="#/tab/exercises-summary">
    <ion-nav-view name="tab-exercises-summary"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'APP_HISTORY' | translate}}" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>


</ion-tabs>
