<ion-view view-title="{{ 'APP_TITLE' | translate }}">
  <ion-nav-title>{{ 'APP_HISTORY_LONG' | translate }}</ion-nav-title>
  <ion-content class="padding">
    <div class="card" ng-show="historyItems.length == 0">
      <div class="item item-text-wrap">
        {{'APP_NO_HISTORY' | translate}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-list>

          <ion-item ng-repeat="item in historyItems"
                    item="item"
                    href="" ng-show="historyItems.length > 0"
                    ng-click="goToDetails(item.id)">
            <h2>{{item.date}}</h2>
            <p>{{'HISTORY_DURATION' | translate}}: {{item.duration}}</p>
            <p>{{'HISTORY_EXERCISE_COUNT' | translate}}: {{item.exerciseCount}}</p>
          </ion-item>

        </ion-list>

        <ion-infinite-scroll
                immediate-check="false"
                ng-if="hasMore"
                on-infinite="loadData()"
                distance="5%">
        </ion-infinite-scroll>
      </div>
    </div>
  </ion-content>
</ion-view>
