<ion-modal-view class="rating-modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{'ACTIVITY_EXERCISE_COMPLETED' | translate}}</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h3>{{'ACTIVITY_EXERCISE_COMPLETED_QUESTION' | translate}}</h3>
                </div>
            </div>
        </div>

        <div class="row" ng-repeat="row in successRates">
            <div class="col no-padding text-center" ng-repeat="col in row">
                <a ng-click="selectSuccessRate($event, $parent.$index, $index)">
                    <img class="emoticon" ng-src="{{'img/emoticons/' + col}}">
                </a>
            </div>
        </div>

        <button class="button button-full button-assertive" ng-click="revertToPreviousExercise()">
            {{'ACTIVITY_EXERCISE_REVERT' | translate}}
        </button>

    </ion-content>
</ion-modal-view>